vendor
cache
build
__BlankSculpinProject__/
__SculpinTestProject__/
__ComplexProviderLifecycleFixture__
output_test/
output_dev/
clover.xml
.php-version
.phpunit.result.cache
.idea

# spc
downloads
source
pkgroot
buildroot
log
.spc.cache.php
sculpin-*
