language: php

dist: trusty
sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  include:
    - php: 5.4
      env:
        - DEPS=latest
    - php: 5.5
      env:
        - DEPS=latest
    - php: 5.6
      env:
        - DEPS=lowest
    - php: 5.6
      env:
        - DEPS=locked
        - CHECK_CS=true
        - TEST_COVERAGE=true
    - php: 5.6
      env:
        - DEPS=latest
    - php: 7.0
      env:
        - DEPS=lowest
    - php: 7.0
      env:
        - DEPS=locked
    - php: 7.0
      env:
        - DEPS=latest
    - php: 7.1
      env:
        - DEPS=lowest
    - php: 7.1
      env:
        - DEPS=locked
    - php: 7.1
      env:
        - DEPS=latest
    - php: hhvm
      env:
        - DEPS=lowest
    - php: hhvm
      env:
        - DEPS=locked
    - php: hhvm
      env:
        - DEPS=latest

before_install:
  - travis_retry composer self-update
  - if [[ $TRAVIS_PHP_VERSION != "hhvm" && $TEST_COVERAGE != 'true' ]]; then phpenv config-rm xdebug.ini ; fi

install:
  - if [[ $DEPS == 'latest' ]]; then travis_retry composer update --no-interaction ; fi
  - if [[ $DEPS == 'lowest' ]]; then travis_retry composer update --prefer-lowest --prefer-stable --no-interaction ; fi
  - if [[ $DEPS == 'locked' ]]; then travis_retry composer install --no-interaction ; fi
  - composer show

script:
  - if [[ $TEST_COVERAGE == 'true' ]]; then vendor/bin/phpunit --verbose --coverage-text --coverage-clover clover.xml ; fi
  - if [[ $TEST_COVERAGE != 'true' ]]; then vendor/bin/phpunit --verbose ; fi
  - if [[ $CHECK_CS == 'true' ]]; then vendor/bin/phpcs ; fi

after_script:
  - if [[ $TEST_COVERAGE = 'true' ]]; then travis_retry wget https://scrutinizer-ci.com/ocular.phar && php ocular.phar code-coverage:upload --format=php-clover clover.xml ; fi

notifications:
  irc: "irc.freenode.org#sculpin"
  email: false
